.child-box {
	width: 150px;
	height: 150px;
	background-color: blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
	transition: all 0.3s linear;
}
.wraper {
	position: relative;
	width: 400px;
	height: 400px;
	background-color: yellow;

/*	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 3s;*/
	transition: all 0.5s linear 3s;
}

.wraper:hover {
	background-color: red;
}
.child-box:hover {
	background-color: lightblue;
	transform:  translate(-50%,-50%) rotate(0deg);
}

/*.wraper:hover .child-box {
	background-color: grey;
	width:250px;
}*/

.chat-image {
	height: 100px;
	animation: chatanimationnew 5s infinite;
	/*position: absolute;*/
}
.wraper-animation {
	/*position: relative;*/
}
/*keyframes*/

/*@keyframes chatanimation {
	0% {left:0px; transform:rotate(0deg);}
	25% {left:200px; transform:rotate(45deg);}
	50% {left:400px; transform:rotate(360deg);}
	75% {left:600px; transform:rotate(45deg);}
	100% {left:800px; transform:rotate(360deg);}
}
*/

@keyframes chatanimationnew {
	0% {transform: translateX(0px) rotate(0deg);}
	25% {transform: translateX(200px) rotate(45deg);}
	50% {transform: translateX(400px) rotate(360deg);}
	75% {transform: translateX(600px) rotate(45deg);}
	100% {transform: translateX(800px) rotate(360deg);}
}